<!DOCTYPE html>
<html>
    <head>
        <title>My cloud storage</title>

        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="style/index.css">
        <link rel="stylesheet" type="text/css" href="style/filesystem.css">
        <link rel="stylesheet" type="text/css" href="style/fileItem.css">
        <link rel="stylesheet" type="text/css" href="style/folder.css">
        <link rel="stylesheet" type="text/css" href="style/file.css">
    </head>
    <body>
        <div id="content" class="content">
            <div class="header">
                <div id="options" class="menu">menu</div>
                <div id="user_block" class="user">
                    {{user_nick}}
                </div>
            </div>

            <login></login><logout></logout>

            <registration></registration>

            <filesystem></filesystem>
        </div>

    </body>

    <script> const SERVER_ADDRES = "localhost:8080"; </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- DEVELOP VERSION -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- RELEASE VERSION -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

    <script src="components/file.js"></script>
    <script src="components/login.js"></script>
    <script src="components/logout.js"></script>
    <script src="components/registration.js"></script>
    <script src="components/uploadfile.js"></script>
    <script src="components/filesystem.js"></script>
    <script src="application.js"></script>
</html>