<!DOCTYPE html>
<html>
    <head>
        <title>Upload file!</title>
    </head>
    <body>
        huy
        chlen
        <form id="uploadfile" method="POST" action="upload" enctype="multipart/form-data">
            <div><!--
                 <input id="file-input" type="file" name="file" multiple>
                 <label for="file-input">Выберите файл</label>
                 <span>или перетащите его сюда</span>-->

                 <input type="file" name="uploadfile">
                 <input type="submit" value="Загрузить">
            </div>
       </form>
    </body>
</html>